@{
    ViewData["Title"] = "Blog İçeriği";
}

<div class="text-center">
    <h1 class="display-4">1 - Blog</h1>
    <p><a class="nav-link text-dark" asp-area="" asp-controller="Blog" asp-action="Index"> <<< Geri Dön</a></p>
</div>
