@{
    ViewData["Title"] = "Hizmet Açıklaması";
}

<div class="text-center">
    <h1 class="display-4">Hizmet Açıklaması</h1>
    <p><a class="nav-link text-dark" asp-area="" asp-controller="Services" asp-action="Index"> <<< Geri Dön</a></p>
</div>
