@{
    ViewData["Title"] = "Hizmetler";
}

<div class="text-center">
    <h1 class="display-4">1. Hizmet</h1>
    <p><a class="nav-link text-dark" href="@Url.Action("Detail", "Services", new { id = "1-Hizmet" })">Hizmet Detayını Görmek İçin Tıklayınız >>></a></p>
</div>
